div.container {
    width: 100%;
    height: calc(100% - 2.8rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.4rem 0;
    gap: 1.4rem;
}

div.container > h1 {
    font-size: 1.75rem;
    font-style: normal;
}

div.container > h2 {
    padding: .2rem 1.2rem;
    border-radius: 1.2rem;
    background-color: rgba(65, 27, 147, .8);
    color: whitesmoke;
    font-size: 1.5rem;
    font-style: normal;
}

div.container > img {
    max-width: calc(100% - 1rem);
    max-height: 50%;
}