div.container {
    width: 100%;
    height: calc(100% - 2.8rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.4rem 0;
    gap: 1.4rem;
}

div.container > h1 {
    font-size: 1.25rem;
    font-style: normal;
}