div.container {
    width: calc(100% - 2rem);
    height: calc(100% - .5rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .25rem 1rem;
}

div.container > button:last-child {
    font-size: 1.5rem;
    color: whitesmoke;
    background: none;
    border: none;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: 0px 0px 7px rgba(255, 255, 255, .5);
    border-radius: 1.2rem;
    height: calc(100% - .5rem);
    margin: .25rem 0;
}

div.container > button:first-child {
    background: none;
    border: none;
    height: 100%;
    aspect-ratio: 1;
    position: relative;
}

div.container > button:first-child > img {
    width: calc(100% + .25rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.container > button:first-child::after {
    position: absolute;
    content: "?";
    font-size: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 50%);
    animation: blink .5s infinite;
}

@keyframes blink {
    0% {color: rgba(255, 255, 255, 50%);}
    50% {color: rgba(255, 255, 255, 0%);}
    100% {color: rgba(255, 255, 255, 50%);}
}