body {
    font-family: 'Inter';
}

div.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

div.container:has(> form) {
    align-items: center;
    justify-content: center;
}

div.container > header {
    height: 3.5rem;
    background-color: rgba(65, 27, 147, .8);
}

div.container > main {
    position: relative;
    flex: 1;
    background: transparent;
    overflow-y: auto;
    overflow-x: hidden;
}

div.container > main::after {
    display: block;
    position: fixed;
    content: "";
    height: calc(100vh - 7rem);
    aspect-ratio: 1;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    background-position: 0;
    background-image: url("https://visoff.ru/svg/CityHeroes_Icon.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    filter: invert(17%) sepia(31%) saturate(7452%) hue-rotate(254deg) brightness(77%) contrast(104%);
    opacity: .3;
    z-index: -1;
}

div.container > nav {
    height: 3.5rem;
    background-color: rgba(65, 27, 147, .8);
}

div.registration {
    display: flex;
    place-items: center;
}