div.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

div.container > header {
    height: 3.5rem;
    background-color: rgba(65, 27, 147, .8);
}

div.container > main {
    flex: 1;
    background-image: url("https://visoff.ru/svg/CityHeroes_Icon.svg");
    background-position: 50vw 50%;
    background-size: 75vw;
    background-repeat: no-repeat;
    background-color: rgba(65, 27, 147, .3);
}

div.container > nav {
    height: 3.5rem;
    background-color: rgba(65, 27, 147, .8);
}